
*{
    background-color:cornsilk;
}
.row{
    margin-top: 40px;
}
.card-title{
    color: darkcyan;
    font-size: 50px;
}
.form-control{
    margin-top: 20px;
    margin-bottom: 20px;
}
.delete-item{
    border-radius: 100%;
    border: 0px
}
.boton{
    color: pink;
    font-size: 30px;
}
.items{
    color:gray;

}